/* mobile */
html {
  font-size: 14px;
}
/* tablet */
@media only screen and (min-width: 480px) {
  html {
      font-size: 16px;
  }
}
/* desktop */
@media only screen and (min-width: 768px) {
  html {
      font-size: 18px;
  }
}
/* extra large */
@media only screen and (min-width: 1024px) {
  html {
      font-size: 20px;
  }
}

.App {
  text-align: center;
  background: #ff7e5f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: rgba(255,255,255,0.2);
  border-bottom:1px solid white;
  height: 2.5rem;
  display:flex;
  align-items: center;
  padding: 0 12px;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}

.logo{
  height:1.8rem;
  width:1.8rem;
  margin-right:10px;
  background: url(./img/chat.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.messages{
  display:flex;
  flex-direction: column;
  flex:1;
  justify-content: flex-end;
}

.message-row{
  width:100%;
}

.message{
  background:black;
  color:white;
  border-radius:10px;
  margin:10px;
  display:inline-block;
  padding: 4px 12px;
}

.text-input{
  background: rgba(255,255,255,0.2);
  border-top:1px solid white;
  height:2.5rem;
  position:relative;
  display:flex;
  align-items:center;
  justify-content:center;

}

.send-button{
  position:absolute;
  right:0.6rem;;
  top:0.5rem;
  border-radius: 100%;
  border:1px solid white;
  background: white;
  color: black; 
  cursor:pointer;
  outline:none;
  height:1.4rem;
  width:1.4rem;
}

.input{ 
  height:1.65rem;
  width: calc(100% - 1rem);
  background: rgba(0,0,0,0.5);
  border-radius:0.8rem; 
  outline:none;
  border:1px solid white;
  color:white;
  padding-left:10px;
}
